<div class="container">
  <h1>Stupid Coaching</h1>
  <blockquote class="w-40"><%= @input %> - You</blockquote>
  <blockquote><%= @response %> - Your coach</blockquote>
  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
